USE [master]
GO
/****** Object:  Database [QLSVien]    Script Date: 3/14/2020 5:00:22 PM ******/
CREATE DATABASE [QLSVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QLSVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QLSVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSVien]
GO
/****** Object:  Table [dbo].[DKIEN]    Script Date: 3/14/2020 5:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DKIEN](
	[MAMH] [varchar](8) NOT NULL,
	[MAMH_TRUOC] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MAMH_TRUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HPHAN]    Script Date: 3/14/2020 5:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPHAN](
	[MAHP] [int] NOT NULL,
	[MAMH] [varchar](8) NOT NULL,
	[HOCKI] [int] NULL,
	[NAM] [int] NULL,
	[GV] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 3/14/2020 5:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [varchar](4) NOT NULL,
	[TENKHOA] [varchar](30) NOT NULL,
	[NAMTHANHLAP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KQUA]    Script Date: 3/14/2020 5:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KQUA](
	[MASV] [int] NOT NULL,
	[MAHP] [int] NOT NULL,
	[DIEM] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MHOC]    Script Date: 3/14/2020 5:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MHOC](
	[TENMH] [varchar](30) NOT NULL,
	[MAMH] [varchar](8) NOT NULL,
	[TINCHI] [int] NULL,
	[MAKH] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SVIEN]    Script Date: 3/14/2020 5:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVIEN](
	[MASV] [int] NOT NULL,
	[HO] [varchar](50) NULL,
	[TEN] [varchar](30) NOT NULL,
	[NGAYSINH] [date] NULL,
	[NAM] [int] NULL,
	[MAKH] [varchar](4) NOT NULL,
	[GIOITINH] [varchar](3) NULL,
 CONSTRAINT [PK__SVIEN__60228A28824BDC9A] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HPHAN] ([MAHP], [MAMH], [HOCKI], [NAM], [GV]) VALUES (1, N'PRO001', 1, 2018, N'Than Van Su')
INSERT [dbo].[HPHAN] ([MAHP], [MAMH], [HOCKI], [NAM], [GV]) VALUES (2, N'PRF192', 2, 2019, N'Than Thi Ngoc Van')
INSERT [dbo].[HPHAN] ([MAHP], [MAMH], [HOCKI], [NAM], [GV]) VALUES (3, N'SSG101', 2, 20120, N'Hoang Yen Thuc')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NAMTHANHLAP]) VALUES (N'SE', N'Sortware Engineer', 2010)
INSERT [dbo].[KQUA] ([MASV], [MAHP], [DIEM]) VALUES (130106, 1, 10)
INSERT [dbo].[KQUA] ([MASV], [MAHP], [DIEM]) VALUES (130110, 1, 8)
INSERT [dbo].[KQUA] ([MASV], [MAHP], [DIEM]) VALUES (130123, 1, 10)
INSERT [dbo].[MHOC] ([TENMH], [MAMH], [TINCHI], [MAKH]) VALUES (N'Computer Architecture', N'CEA201', 3, N'SE')
INSERT [dbo].[MHOC] ([TENMH], [MAMH], [TINCHI], [MAKH]) VALUES (N'Connecting to Computer Science', N'CSI101', 3, N'SE')
INSERT [dbo].[MHOC] ([TENMH], [MAMH], [TINCHI], [MAKH]) VALUES (N'Mathematics for Engineering', N'MAE101', 3, N'SE')
INSERT [dbo].[SVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [NAM], [MAKH], [GIOITINH]) VALUES (130106, N'Lo', N'Ba Hai Dang', CAST(N'1999-02-19' AS Date), 1, N'SE', N'NAM')
INSERT [dbo].[SVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [NAM], [MAKH], [GIOITINH]) VALUES (130110, N'Nguyen', N'Ngoc Hai', CAST(N'1999-05-20' AS Date), 1, N'SE', N'NAM')
INSERT [dbo].[SVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [NAM], [MAKH], [GIOITINH]) VALUES (130111, N'Le', N'Anh Tuan', CAST(N'1999-03-21' AS Date), 1, N'SE', N'NAM')
ALTER TABLE [dbo].[DKIEN]  WITH CHECK ADD  CONSTRAINT [FK_DKIEN_MAMH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MHOC] ([MAMH])
GO
ALTER TABLE [dbo].[DKIEN] CHECK CONSTRAINT [FK_DKIEN_MAMH]
GO
ALTER TABLE [dbo].[HPHAN]  WITH CHECK ADD  CONSTRAINT [FK_HPHAN_MAMH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MHOC] ([MAMH])
GO
ALTER TABLE [dbo].[HPHAN] CHECK CONSTRAINT [FK_HPHAN_MAMH]
GO
ALTER TABLE [dbo].[KQUA]  WITH CHECK ADD  CONSTRAINT [FK_KQUA_MAHP] FOREIGN KEY([MAHP])
REFERENCES [dbo].[HPHAN] ([MAHP])
GO
ALTER TABLE [dbo].[KQUA] CHECK CONSTRAINT [FK_KQUA_MAHP]
GO
ALTER TABLE [dbo].[KQUA]  WITH CHECK ADD  CONSTRAINT [FK_KQUA_MASV] FOREIGN KEY([MASV])
REFERENCES [dbo].[SVIEN] ([MASV])
GO
ALTER TABLE [dbo].[KQUA] CHECK CONSTRAINT [FK_KQUA_MASV]
GO
ALTER TABLE [dbo].[MHOC]  WITH CHECK ADD  CONSTRAINT [FK_MHOC_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[MHOC] CHECK CONSTRAINT [FK_MHOC_MAKH]
GO
ALTER TABLE [dbo].[KQUA]  WITH CHECK ADD CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[SVIEN]  WITH CHECK ADD  CONSTRAINT [CK__SVIEN__NAM__398D8EEE] CHECK  (([NAM]>=(1) AND [NAM]<=(4)))
GO
ALTER TABLE [dbo].[SVIEN] CHECK CONSTRAINT [CK__SVIEN__NAM__398D8EEE]
GO
USE [master]
GO
